@import "mocha.css";

* {
  font-family: "JetBrainsMono";
  font-weight: 700;
  font-size: 16px;
  min-height: 0;
}

#waybar {
  background: rgba(0,0,0,0);
  color: @text;
}


#workspaces {
  margin: 5px;
  margin-right: 2px;
  background-color: @surface0;
  border-radius: 0.2rem;
  margin-left: 1rem;
  padding: 0px 5px;
}

#workspaces button {
  color: @lavender;
  padding: 0.4rem;
  border-radius: 0.2rem;
}

#window {
 border-radius: 0.2rem;
 margin: 5px;
 padding-left: 5px;
 padding-right: 5px; 
}

#workspaces button.active {
  color: @sky;
  border-radius: 0.2rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 0.2rem;
}

#tray,
#backlight,
#clock,
#battery,
#pulseaudio
{
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 5px 0;
  border-radius: 0.2rem;
}

#clock {
  color: @blue;
  border-radius: 0.2rem;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight, #battery {
    border-radius: 0.2rem;
}

#pulseaudio {
  color: @maroon;
  margin-left: 1rem;
  border-radius: 0.2rem;
}

#custom-music {
  color: @mauve;
}


#tray {
 border-radius: 0.2rem;
 margin-right: 1rem;
}
